click==8.0.1; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0"
future==0.18.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5"
importlib-metadata==4.4.0; python_version < "3.8" and python_version >= "3.6"
jinja2==3.0.1; python_version >= "3.6"
joblib==1.0.1; python_version >= "3.6"
livereload==2.6.3; python_version >= "3.5"
lunr==0.5.8; python_version >= "3.5"
markdown==3.3.4; python_version >= "3.6"
markupsafe==2.0.1; python_version >= "3.6"
mkdocs-material-extensions==1.0.1; python_version >= "3.5"
mkdocs-material==7.1.6
mkdocs==1.1.2; python_version >= "3.5"
nltk==3.6.2; python_version >= "3.5"
pygments==2.9.0; python_version >= "3.5"
pymdown-extensions==8.2; python_version >= "3.6"
pyyaml==5.4.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
regex==2021.4.4; python_version >= "3.5"
six==1.16.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5"
tornado==6.1; python_version >= "3.5"
tqdm==4.61.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version >= "3.4.0"
typing-extensions==3.10.0.0; python_version < "3.8" and python_version >= "3.6"
zipp==3.4.1; python_version < "3.8" and python_version >= "3.6"
