:root {
    --md-text-font:"Roboto";
    --md-code-font:"Roboto Mono";
}

:root {
    --msys2-red: #993232;
    --msys2-dark-bg: #333;
    --msys2-text: #3a3a3a;
    --msys2-dark-text: #303030;
    --msys2-background: #fafafa;
    --msys2-table-header-background: #ededed;
    --msys2-code-background: #fff;
    --msys2-code-border-color: #dfdfdf;
    --msys2-invert-filter: none;
}

[data-md-color-scheme=slate] {
    --msys2-red: #d25059;
    --msys2-dark-bg: #2a2a2a;
    --msys2-text: #fafafa;
    --msys2-dark-text: initial;
    --msys2-background: #2F3136;
    --msys2-table-header-background: rgb(39, 39, 48);
    --msys2-code-background: #333;
    --msys2-code-border-color: #525252;
    --msys2-invert-filter: invert(100%);
}

.md-typeset ol li, .md-typeset ul li {
    margin-bottom: 0.1em;
}

.md-typeset pre > code {
    background-color: var(--msys2-code-background);
    border: 1px solid var(--msys2-code-border-color);
}

.md-typeset header h2 {
    color: #aaa !important;
    font-size: 22px;
    margin: 0;
    letter-spacing: -0.5px;
    font-weight: bold;
    line-height: 1.1em;
    padding-bottom: 0.7em;
}

.md-nav__link:hover, .md-typeset a:hover {
    color: var(--msys2-red) !important;
}

.md-nav__link {
    color: var(--msys2-text);
}

.md-typeset code {
    background-color: var(--msys2-code-background);
    border: 1px solid var(--msys2-code-border-color);
    padding: 0.05em 0.25em 0.075em;
    box-shadow: none;
    word-break: normal;
}

.md-typeset h2 {
    font-size: 1rem;
    color: var(--msys2-red);
    font-weight: bold;
    margin-top: 1.2rem;
}

.md-typeset h3 {
    font-size: 0.85rem;
    color: var(--msys2-dark-text);
    font-weight: bold;
    margin-top: 1.2rem;
}

a.button {
    border-radius: 10px;
    border-top: solid 1px #cbcbcb;
    border-left: solid 1px #b7b7b7;
    border-right: solid 1px #b7b7b7;
    border-bottom: solid 1px #b3b3b3;
    color: var(--md-typeset-a-color);
    line-height: 25px;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 15px;
    display: inline-block;
    margin-right: 14px;  
    background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%);
    -webkit-box-shadow: 10px 10px 5px #888;
    -moz-box-shadow: 10px 10px 5px #888;
    box-shadow: 0px 1px 5px #e8e8e8;
    filter: var(--msys2-invert-filter); /* hacky.. */
}

a.button:hover {
    border-top: solid 1px #b7b7b7;
    border-left: solid 1px #b3b3b3;
    border-right: solid 1px #b3b3b3;
    border-bottom: solid 1px #b3b3b3;
    background: linear-gradient(top,  #fdfdfd 0%,#f6f6f6, 100%);
}

.md-typeset table:not([class]) {
    background-color: var(--msys2-background);
}

.md-typeset table thead {
    background-color: var(--msys2-table-header-background);
}

.md-typeset table tr th {
    min-width: 0 !important;
}

.md-header, .md-footer, .md-nav__source {
    background-color: var(--msys2-dark-bg) !important;
}

@media only screen and (min-width:59.9375em) {
    .md-nav {
        background-color: initial;
    }
}

@media only screen and (max-width:76.1875em) {
    html .md-nav--primary .md-nav__title[for="__drawer"] {
        background-color: var(--msys2-dark-bg) !important;
    }
}

body {
    background-color: var(--msys2-background);
}

.md-content {
    color: var(--msys2-text);
}

.md-typeset {
    font-size: 0.7rem;
}

.md-nav__title, .md-header__title {
    font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --md-default-bg-color: var(--msys2-background);
}

.md-typeset h1 {
    font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: var(--msys2-dark-text);
    font-size: 32px;
    line-height: 1.2em;
    margin: 0;
}

.md-typeset header h1 {
    font-size: 48px;
}

:root {
    --image-external-link: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"> \
        <g style="stroke:currentColor;stroke-width:1"> \
            <line x1="5" y1="5" x2="5" y2="14" /> \
            <line x1="14" y1="9" x2="14" y2="14" /> \
            <line x1="5" y1="14" x2="14" y2="14" /> \
            <line x1="5" y1="5" x2="9" y2="5"  /> \
            <line x1="10" y1="2" x2="17" y2="2"  /> \
            <line x1="17" y1="2" x2="17" y2="9" /> \
            <line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /> \
        </g> \
    </svg>');
}

.md-nav a[href^="http://packages"]:not(.md-icon, .md-source, .md-logo):after,
.md-nav a[href^="https://packages"]:not(.md-icon, .md-source, .md-logo):after {
    content: 'XXX';
    background: no-repeat var(--image-external-link);
    background-size: 1em;
    background-position: 0 4px;
    opacity: 0.7;
    color: transparent;
    filter: var(--msys2-invert-filter);
    margin-left: -0.3em;
}

/* make the console prompt not selectable */
.highlight .gp {
    opacity: 0.75;
    user-select: none;
}

