.left-donation-col {
	width: 290px;
	height: 600px;
	float: left;
}

.right-donation-col {
	width: 290px;
	height: 600px;
	float: right;
}

.checksum-button {
	white-space: nowrap;
	color: #303030;
	line-height: 25px;
	font-weight: bold;
	font-size: 10px;
	padding: 0 8px;
	display: block;
	float: left;
	width: 179px;
	overflow-x: scroll;
	margin: 10px 14px 0 0;
	background: #fdfdfd;
	box-shadow: 0px 1px 5px #e8e8e8;
	border-radius: 10px;
}

li p:first-of-type {
	display: inline;
}

li img, li pre {
	display: block;
	margin-top: 1em;
}

li img {
	margin-bottom: 1em;
}
